@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: orange;
}

nav{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    display: flex;
}

#logo{
    height: 100px;
    justify-content: flex-start;
}

a{
    text-decoration: none;
}

a button{
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 4px;
    border: darkred solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav div{
    display: flex;
    gap: 10px;
    margin-left: 2pc;
    align-items: center;
}

.produto{
    height: 5cm;
    width: 5cm;
}

.produto:hover{
    transform: scale(1.05);
}
    

.pd{
    background-color: aqua;
}

.pd2{
    background-color: red;
}
