@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado{
    
    height: 300px;
    width: 300px;
}

.quadrado__rosa{
    background-color: pink;
}

.quadrado__azul{
    background-color: blue;
}

#cachorro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    
}