@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sapo{
    width: 11pc;
}

#bloco{
    height: 11pc;
}

#container{
    background-color: yellowgreen;
    display: flex;
    /*A Propriedade display altera como serão organizados os itens que estão dentro de determinado elemento.
    display:flex transforma o elemento em um container flexivel que se adequara aos
    itens internos e permitirá que vc organize as posições dos mesmos tentro do container*/
    align-items: center;
    /* align-itens é a propriedade que manda na organização do eixo cruzao (cross-axix) em um display flexivel */
    justify-content: center;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    order: 2;
}

.caixa1{
    width: 5cm;
    height: 5cm;
    background-color: aliceblue;
    border: 5px solid black;
    display: flex;
    order: 1;
}

.caixa2{
    width: 5cm;
    height: 5cm;
    background-color: aliceblue;
    border: 5px solid black;
    display: flex;
    order: 3;
}

.caixa3{
    width: 5cm;
    height: 5cm;
    background-color: aliceblue;
    border: 5px solid black;
    display: flex;
    order: 2;
}

#button{
    align-self: center;
    margin: 0 auto;
    color: white;
    background-color: blue;
    padding: 4px;
}

a{
    text-decoration: none;
}